<p id="notice"><%= notice %></p>

<p>
  <strong>Index:</strong>
  <%= @restauracje.index %>
</p>

<%= link_to 'Edit', edit_restauracje_path(@restauracje) %> |
<%= link_to 'Back', restauracje_index_path %>
