<p id="notice"><%= notice %></p>

<p>
  <strong>Liczba sztuk:</strong>
  <%= @produkty_na_zamowieniu.liczba_sztuk %>
</p>

<%= link_to 'Edit', edit_produkty_na_zamowieniu_path(@produkty_na_zamowieniu) %> |
<%= link_to 'Back', produkty_na_zamowienius_path %>
