<p id="notice"><%= notice %></p>

<p>
  <strong>Index:</strong>
  <%= @typy_pracownika.index %>
</p>

<%= link_to 'Edit', edit_typy_pracownika_path(@typy_pracownika) %> |
<%= link_to 'Back', typy_pracownika_index_path %>
