<p id="notice"><%= notice %></p>

<p>
  <strong>Index:</strong>
  <%= @produkty_na_zamowieniu.index %>
</p>

<%= link_to 'Edit', edit_produkty_na_zamowieniu_path(@produkty_na_zamowieniu) %> |
<%= link_to 'Back', produkty_na_zamowieniu_index_path %>
