<p id="notice"><%= notice %></p>

<p>
  <strong>Index:</strong>
  <%= @pracownicy.index %>
</p>

<%= link_to 'Edit', edit_pracownicy_path(@pracownicy) %> |
<%= link_to 'Back', pracownicy_index_path %>
